AI Workflow Auditor.json
{
  "name": "AI Workflow Auditor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "902bd7cf-1446-4c36-b3f1-a33dfd380d38",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please review these incident logs for anomalies:\n\n{{ JSON.stringify($json.all_logs) }}\n\nCheck for hallucinations, confidence mismatches, or repeated failures.",
        "options": {
          "systemMessage": "=You are a Senior SRE Auditor. Review the following AI incident logs.\nLook for:\n\nHallucinations: Did the AI suggest a restart when metrics were normal?\n\nConfidence Mismatch: High confidence on a weird decision?\n\nRepeated Failures: Did it try the same fix 5 times and fail?\n\nOutput Format (JSON):\n{ \"anomalies_found\": boolean, \"flagged_incidents\": [{ \"id\": \"uuid\", \"issue\": \"string\" }], \"summary\": \"string\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "4b42b323-0ab2-4e0f-a7ae-6de02a0d438c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c2793e5-9b3a-4ffb-ab9e-4afd8dc8befd",
              "leftValue": "={{ $json.anomalies_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        0
      ],
      "id": "9e7bac0a-ef06-4aac-b9ab-c74dc75d370c",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        240
      ],
      "id": "409c1bbb-9066-4551-8d34-4736de8a7228",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IYTeTOkVCsAMAg5v",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_logs",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "d7e42a3a-867d-482e-b8d5-762845f44e35",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Clean the Markdown-wrapped JSON from the Auditor\nconst rawOutput = $json.output;\nconst jsonMatch = rawOutput.match(/```json\\n([\\s\\S]*?)\\n```/);\n\nif (jsonMatch) {\n  return JSON.parse(jsonMatch[1]);\n} else {\n  // Fallback for raw JSON strings\n  return JSON.parse(rawOutput.replace(/```json|```/g, ''));\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "44c937bf-e5b5-4a44-9390-a1f2f49faf96",
      "name": "structured output"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ALF5Y4267",
          "mode": "list",
          "cachedResultName": "all-n8n-test"
        },
        "text": "=🔎 Auditor Alert: Anomalies Detected  {{ $json.summary }}\n\nFlagged Items: {{ JSON.stringify($json.flagged_incidents) }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1344,
        -96
      ],
      "id": "401aa3b5-beb4-4b4d-9024-6d4853a06bc8",
      "name": "anomalies found",
      "webhookId": "8af0386f-342a-41c5-9cdc-fbe9c6829d13",
      "credentials": {
        "slackApi": {
          "id": "008VTzrNGbd0M0sF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "XBlGiMFeAMhNo38C",
          "mode": "list",
          "cachedResultName": "incident resolver logs",
          "cachedResultUrl": "/projects/lyYGQQxjxM1RKkpV/datatables/XBlGiMFeAMhNo38C"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "pending"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "confidence": 0,
            "status": "reviewed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1344,
        96
      ],
      "id": "a0b7d4a2-6c16-4548-96f2-461ba37ba994",
      "name": "no anomalies"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "XBlGiMFeAMhNo38C",
          "mode": "list",
          "cachedResultName": "incident resolver logs",
          "cachedResultUrl": "/projects/lyYGQQxjxM1RKkpV/datatables/XBlGiMFeAMhNo38C"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "3a8ce9f7-4078-44af-a8cd-1dfdb7ad5b47",
      "name": "AI incident resolver logs"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI incident resolver logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "structured output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "anomalies found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "structured output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI incident resolver logs": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b2915399-5ffa-4b11-bd65-3bb29f540c70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54b06315817fd07df4927ca7349fea37606eb75294a247e231fd9d13aa12f311"
  },
  "id": "hewPAipug0z02Rpq",
  "tags": []
}